        <nav>
            <a href="/" title="navigate to home page">Home</a>
            <a href="/about" title="navigate to about page">About</a>
            <a href="/links" title="navigate to links page">Links</a>
        </nav>