<section>
    <h1>Home</h1>

    <div id="board">
        <table>
            <colgroup>
                <col>
                <col class="file" data-file="1">
                <col class="file" data-file="2">
                <col class="file" data-file="3">
                <col class="file" data-file="4">
                <col class="file" data-file="5">
                <col class="file" data-file="6">
                <col class="file" data-file="7">
                <col class="file" data-file="8">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td></td>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr class="rank" data-rank="h">
                    <th>h</th>
                    <td><button type="button" class="space" data-space="h1"></button></td>
                    <td><button type="button" class="space" data-space="h2"></button></td>
                    <td><button type="button" class="space" data-space="h3"></button></td>
                    <td><button type="button" class="space" data-space="h4"></button></td>
                    <td><button type="button" class="space" data-space="h5"></button></td>
                    <td><button type="button" class="space" data-space="h6"></button></td>
                    <td><button type="button" class="space" data-space="h7"></button></td>
                    <td><button type="button" class="space" data-space="h8"></button></td>
                    <th>h</th>
                </tr>
                <tr class="rank" data-rank="g">
                    <th>g</th>
                    <td><button type="button" class="space" data-space="g1"></button></td>
                    <td><button type="button" class="space" data-space="g2"></button></td>
                    <td><button type="button" class="space" data-space="g3"></button></td>
                    <td><button type="button" class="space" data-space="g4"></button></td>
                    <td><button type="button" class="space" data-space="g5"></button></td>
                    <td><button type="button" class="space" data-space="g6"></button></td>
                    <td><button type="button" class="space" data-space="g7"></button></td>
                    <td><button type="button" class="space" data-space="g8"></button></td>
                    <th>g</th>
                </tr>
                <tr class="rank" data-rank="f">
                    <th>f</th>
                    <td><button type="button" class="space" data-space="f1"></button></td>
                    <td><button type="button" class="space" data-space="f2"></button></td>
                    <td><button type="button" class="space" data-space="f3"></button></td>
                    <td><button type="button" class="space" data-space="f4"></button></td>
                    <td><button type="button" class="space" data-space="f5"></button></td>
                    <td><button type="button" class="space" data-space="f6"></button></td>
                    <td><button type="button" class="space" data-space="f7"></button></td>
                    <td><button type="button" class="space" data-space="f8"></button></td>
                    <th>f</th>
                </tr>
                <tr class="rank" data-rank="e">
                    <th>e</th>
                    <td><button type="button" class="space" data-space="e1"></button></td>
                    <td><button type="button" class="space" data-space="e2"></button></td>
                    <td><button type="button" class="space" data-space="e3"></button></td>
                    <td><button type="button" class="space" data-space="e4"></button></td>
                    <td><button type="button" class="space" data-space="e5"></button></td>
                    <td><button type="button" class="space" data-space="e6"></button></td>
                    <td><button type="button" class="space" data-space="e7"></button></td>
                    <td><button type="button" class="space" data-space="e8"></button></td>
                    <th>e</th>
                </tr>
                <tr class="rank" data-rank="d">
                    <th>d</th>
                    <td><button type="button" class="space" data-space="d1"></button></td>
                    <td><button type="button" class="space" data-space="d2"></button></td>
                    <td><button type="button" class="space" data-space="d3"></button></td>
                    <td><button type="button" class="space" data-space="d4"></button></td>
                    <td><button type="button" class="space" data-space="d5"></button></td>
                    <td><button type="button" class="space" data-space="d6"></button></td>
                    <td><button type="button" class="space" data-space="d7"></button></td>
                    <td><button type="button" class="space" data-space="d8"></button></td>
                    <th>d</th>
                </tr>
                <tr class="rank" data-rank="c">
                    <th>c</th>
                    <td><button type="button" class="space" data-space="c1"></button></td>
                    <td><button type="button" class="space" data-space="c2"></button></td>
                    <td><button type="button" class="space" data-space="c3"></button></td>
                    <td><button type="button" class="space" data-space="c4"></button></td>
                    <td><button type="button" class="space" data-space="c5"></button></td>
                    <td><button type="button" class="space" data-space="c6"></button></td>
                    <td><button type="button" class="space" data-space="c7"></button></td>
                    <td><button type="button" class="space" data-space="c8"></button></td>
                    <th>c</th>
                </tr>
                <tr class="rank" data-rank="b">
                    <th>b</th>
                    <td><button type="button" class="space" data-space="b1"></button></td>
                    <td><button type="button" class="space" data-space="b2"></button></td>
                    <td><button type="button" class="space" data-space="b3"></button></td>
                    <td><button type="button" class="space" data-space="b4"></button></td>
                    <td><button type="button" class="space" data-space="b5"></button></td>
                    <td><button type="button" class="space" data-space="b6"></button></td>
                    <td><button type="button" class="space" data-space="b7"></button></td>
                    <td><button type="button" class="space" data-space="b8"></button></td>
                    <th>b</th>
                </tr>
                <tr class="rank" data-rank="a">
                    <th>a</th>
                    <td><button type="button" class="space" data-space="a1"></button></td>
                    <td><button type="button" class="space" data-space="a2"></button></td>
                    <td><button type="button" class="space" data-space="a3"></button></td>
                    <td><button type="button" class="space" data-space="a4"></button></td>
                    <td><button type="button" class="space" data-space="a5"></button></td>
                    <td><button type="button" class="space" data-space="a6"></button></td>
                    <td><button type="button" class="space" data-space="a7"></button></td>
                    <td><button type="button" class="space" data-space="a8"></button></td>
                    <th>a</th>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <section id="history">
        <h2>Game History</h2>
        <table>
            <thead>
                <tr>
                    <th>White</th>
                    <th>Black</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{move number}</td>
                    <td>{white move algebraic notation}</td>
                    <td>{black move algebraic notation}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="analysis">
        <h2>Board Analysis</h2>
        <ol>
            <li>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, alias libero odio facilis aspernatur maxime numquam eius delectus? Facere voluptas reiciendis numquam molestiae assumenda ullam est illo voluptate, amet eos?</p>
            </li>
        </ol>
    </section>
</section>