:root {
    --space-size: clamp(10px, 8vw, 82.66px);
}

body:not(.not-home) main>section {
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(var(--space-size) * 3.5 + .3em) calc(var(--space-size) * 5.5 + .33em);
    justify-content: start;
}

#board {
    grid-row: 1/3;
}

#history {
    grid-row: 1/2;
    height: calc(100% - .66em);
}

#history table tr * {
    padding: 0 .66em;
    text-align: left;
}

#history table tr :first-child {
    padding: 0 .66em;
    text-align: right;
}

#history thead th:first-of-type {
    padding-right: 1.25em;
}

#analysis,
#analysis:has(>ol:empty) {
    grid-column: 2/3;
    grid-row: 2/3;
    height: calc(100% - .66em);
    position: relative;
}

#analysis>ol {
    bottom: 0;
    left: .66em;
    overflow-y: auto;
    padding: .33em .66em;
    position: absolute;
    right: .66em;
    scrollbar-width: thin;
    top: 4em;
}

#analysis>ol:not(:has(li:nth-of-type(6))) {
    height: min-content;
}

#analysis article {
    padding: .33rem;
}

#analysis article p {
    padding: .33rem;
    text-align: unset;
}